<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset = "utf-8">
    <title>index.html</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
</head>
<div class="container">
    <div class="py-4 text-center">
        <img src="#">
    </div>
    <br>
    <div class="py-4 text-center">
        <script>
            function start(){
                window.location.href="/test/"+1;
            }
        </script>
        <input onclick="start()" class="btn btn-primary" type="button" value="Test Start">
    </div>
</div>
</body>
</html>